
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #4267B2; /* Facebook Blue */
  padding: 10px;
  text-align: center;
}

.nav-link {
  display: inline-block;
  margin: 0 15px;
  color: #ffffff; /* White */
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}
