<div class="form-container">
  <p class="text-label">Author List</p>
  <ul class="text-list">
    {{#each @authors as |author|}}
      <div class="form-container">
        <li class="text-item">{{author.id}}. {{author.name}}</li>
        <button type="button" {{on "click" (fn this.deleteAuthor author)}}>Delete</button>
      </div>
    {{/each}}
  </ul>
</div>
