<div class="form-container">
  <p class="text-label">Author List</p>
  <ul class="text-list">
    {{#each @authors as |author|}}
      <div class="form-container">
        <li class="text-item">{{author.name}}</li>
      </div>
    {{/each}}
  </ul>
</div>
