{{page-title "EmberTaskManager"}}
<div class="navbar">
  <LinkTo @route="index" class="nav-link">Task Manager</LinkTo>
  <LinkTo @route="authors" class="nav-link">Author</LinkTo>
  <LinkTo @route="tasks" class="nav-link">Task</LinkTo>
</div>
{{outlet}}
